input:focus{
    background-color: var(--white);
}

.add-container{
    padding: 4rem 2rem;
}

.add-form{
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
}

.add-input{
    width: 75%;
    border: 1px solid var(--input-box);
    border-radius: 6px;
    height: 4rem;
    padding: unset;
    padding-inline-end: 1.6rem;
    padding-inline-start: 1.6rem;
    line-height: 2.4rem;
    font-size: 1.8rem;
    background: var(--disabled);
}

.tag-btn{
    font-size: 2.5rem;
    color: var(--input-border-hover);
    vertical-align: bottom;
}

.chip-display{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.content-input{
    width: 100%;
    height: 30rem;
    resize: vertical;
}

textarea:focus{
    border: none;
    outline: 1px solid var(--input-border);
    box-shadow: 0 0 0 var(--input-focus);
}

.add-form-btn{
    font-size: 2rem;
    width: 20%;
    margin: 2rem auto;
    background-color: var(--btn-color);
}

.tag-box{
    background-color: var(--modal-dialog);
}

.modal-section{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.modal-section-2{
    flex-direction: column;
    align-items: center;
}

.modal-btn-close{
    border: none;
}

.color-inputs{
    display: flex;
    padding-top: 1rem;
}

.color-names{
    margin: 0 3rem;
}

.color-display{
    margin-left: 10px;
    vertical-align: baseline;
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 2px;
    background-color: var(--chip1, var(--chip2, var(--chip-bg)));
}

.modal-section-btn{
    display: flex;
}

.modal-btn{
    width: 20%;
    margin: 2rem auto 0;
    background-color: var(--btn-color);
}