.tools{
    display: flex;
    padding: 5px 4rem;
    align-items: center;
    justify-content: flex-end;
}

.all-cards-display{
    padding: 0 6rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-card{
    width: 100%;
    height: 6.8rem;
    grid-template-columns: auto 25rem 15rem 20rem;
    margin: 1rem 0;
    background-color: #ccccff75;
}

.btn-link:hover > .no-hover{
    color: var(--btn-link);
}

.card-cols{
    padding: 1.6rem;
}

.chip {
    height: fit-content;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 5px;
    color: var(--warning-background);
    background-color: var(--chip1, var(--chip2, var(--chip-bg)));
}

.chip-color1{
    --chip1: var(--chip-color);;
}

.chip-color2{
    --chip2: var(--input-active);
}

.tag-section{
    overflow-x: clip;
    white-space: nowrap;
}