.header{
    height: 6.4rem;
    padding: 0 0.8rem 0 2rem;
    box-shadow: 0 2px 5px 0 var(--nav-shadow), 0 2px 10px 0 var(--nav-shadow); 
}

.header-logo{
    display: flex;
    align-items: center;
}

.mobile-avatar{
    display: none;
}

.brand-name{
    color: var(--input-border-hover);
    font-family: var(--brand-font);
}

.link-active{
    background: var(--link-active);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown-intial{
    display: none;
}

.dropdown-menu{
    display: block;
    position: absolute;
    top: 0;
    right: 15px;
    transform: translate(0px, 55px);
    padding: 1rem 2rem;
    font-size: 1.6rem;
    background-color: var(--tertiary-colour);
    border: 1px solid var( --btn-link);
    border-radius: 4px;
}

.menu-nav{
    margin-top: -3rem;
    margin-left: -2.5rem;
    padding-top: 7rem;
}

@media only screen and (max-width: 600px) {
    .mobile-avatar{
        display: inline-flex;
    }

    .nav-link {
        padding: 2rem 1rem;
        font-size: 2rem;
    }
}